body {
    background: #ffe8d6;
    color:#b7b7a4;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}
b {
    color:#6b705c
}
.title {
    font-size: 50px;
    color: #6b705c;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.subtitle {
    font-size: 16px;
    color: #a5a58d;
    margin-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.photo img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
}
.photo .subtitle {
    margin-top: 10px;
    font-size: 13px;
}
#footer {
    font-size: 10px;
}
.texto {
    clear:both;
}
#first-text {
    float:left;
    width: 50%;
    text-align: left;
}
#first-photo {
    float:right;
    width: 50%;
}
#first-photo img {
    width: 80%;
}
#second-text {
    clear:right;
}

#third-text {
    float: right;
    width: 50%;
    text-align: right;
}
#third-photo {
    float:left;
    clear:left;
    width: 50%;
}
#third-photo img {
    width: 80%;
}
#fourth-text {
    clear:both;
}